body{
    font-size:1.4rem ;
}

.header{
    display: flex;
    align-items: center;
    background-color: var(--primary-dark);
    color: var(--white);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 8rem;
}

a{
    text-decoration: none;
    color: var(--white);
}

.logo-img{
    width: 10rem;
    height: 9rem;
}

.logo-head{
    display: flex;
    align-items: center;
    margin-right:3rem ; 
}

.logo-name{
    font-size: 1.6rem;
    font-weight: 900;
}
.logo-name:hover{
    font-size: 1.6rem;
    color:var(--shine-green-dark)

}

.catLinks-head ul{
    display: flex;
    text-decoration:none;
    list-style: none;
}

.cat-item .cat-link{
    position: relative;
    display: inline-block;
    font-weight: 550;
    font-size: 1.4rem;
    padding: 2.5rem 2rem 2.9rem;
}

.cat-item .cat-link:hover::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 2.19px solid var(--white);
    width: 100%;
}

.cat-link:hover{
    font-weight: bold;
}

.search-head{
    display:inline-block;
    width: 40%;
    margin: 2rem 2rem 2rem 4rem;
    position: relative;
    background-color: #f5f5f6;
}

.search-input{
    cursor: text;
    border: none;
    width: 97%;
    outline:none;
    box-sizing: content-box;
    padding: 0.8rem 1rem;
    border-radius: 0 0.4rem 0.4rem 0;
    font-size: inherit;
    height: 2rem;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
   
}

.search-submit span{
    box-sizing: content-box;
    text-align: center;
    height: 2rem;
    padding: 0.63rem 0 0.97rem 0;
    width: 2.8rem;
    background: #f5f5f6;
    color: var(--greySearch);
    position: absolute;
    left: -3rem;
    border-radius: 0.4rem 0 0 0.4rem;
    border: 1px solid #f5f5f6;
}

.actions-head{
    display: flex;
    align-items: center;
    margin-left:auto ;
   
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
}

/* slider-starts */

img{
    width: 1519px;
    height: 800px;
    object-fit: cover;
    object-position: center;
}

button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.carousel{
    width: 1519px;
    height: 800px;
    position: relative;
}


.carousel ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
} 

.slide[data-active]{
    opacity: 1;
}

.carousel button span{
    position: absolute;
    z-index: 2;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255,255,255,.5);
    padding: 0.5rem;
    background-color: rgba(0,0,0,.1);
}

.carousel button span:hover,
.carousel button span:focus{
    color: white;
    background-color: rgba(0,0,0,.2);
}

button .next-icon{
    right: 1rem;
    
}

button .before-icon{
    left: 1rem;
}

.main-product-content{
    position: absolute;
    top:14rem;
}

.main-product-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 40%;
    width: 30%;
}

.product-content-box{
    display: block;
    text-align: center;
    color: var(--white);
}

.cta-btns-box{
    display: inline-block;
    text-align: end;
}

.sp-h3{
    font-size:2rem;
    font-weight: 600;
    margin-bottom:1rem;
}

.sp-h1{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom:2rem ;
}

.sp-text{
    font-size:1.6rem ;
    font-weight: 580;
    margin-bottom:1rem;
}

.link-cta{
    display: inline-block;
    /* text-align: center; */
    flex-basis: 9rem;
    border: 2px solid var(--white);
    border-radius: 0.5rem;
}

.link-cta span{
    vertical-align: middle;
    padding: 0.5rem 0.8rem;
}

.link-cta:hover{
    background-color: var(--pink8);
}

/* slider-ends */

